@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<FluentButton><FluentIcon Value="@(new Icons.Regular.Size24.Fingerprint())" />Button - Icon as Value-Parameter</FluentButton>
<FluentButton><FluentIcon Icon="Icons.Regular.Size24.Fingerprint" />Button - Icon as Icon-Parameter</FluentButton>
