@inherits LayoutComponentBase

<FluentMainLayout NavMenuTitle="Navigation menu">
    <Header>
        BlazorWASM-FluentUI Demo
        <FluentSpacer />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </Header>

    <Body>
        @Body
    </Body>

    <NavMenuContent>
        <NavMenu /> 
    </NavMenuContent>
</FluentMainLayout>
